/* GENERICS */
body{
    font-family: sans-serif;
}

header{
    height: 100px;
    position: sticky;
    top:0;
    left: 0;
    right: 0;
    z-index: 1;
}
footer{
    min-height: 300px;
    background-color: lightblue;
}

/* Utility */
main [class="col"]{
    /* background-color: purple; */
    min-height: 50px;
    /* border: 2px dashed fuchsia; */
}

.row{
    /* border: 3px solid dodgerblue; */
}
.select{
    border-bottom: 2px solid rgb(0,114,206);
}
.bg-orange{
    background-color: rgb(205,61,15);
    color: white;
}

/** header */
.sony{
    background-color: black;
    text-align: right;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
}
.sony img{
    width: 100px;
}

/* jumbotron */
.jumbotron{
    /* border: 2px dashed blue; */

    color: white;

    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.jumbotron h2{
    margin: 30px 0;
}
#jumbotron-top{
    background-image: url(img/jumbo-bg.png);
    padding-top: 200px;
}
#jumbotron-bottom{
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    padding: 50px 0;
}

/* main */

.related img {
    border-radius: 20px;
    padding: 3px;
}
#related-top .col:first-child img{
    border: 2px solid rgb(0,114,206);
}
#related-bottom{
    background-color: rgb(31,31,31);
    color: white;
    
    padding: 20px 0;
}


/**** RESPONSIVE ****/
@media screen and (min-width:768px){
    #ps5 .col> img{
    max-width: 50%;
    margin: 0 auto;
    display: block;
   } 
}