/* GENERICS */
body{
    font-family: sans-serif;
}

header{
    height: 100px;
    position: sticky;
    top:0;
    left: 0;
    right: 0;
    z-index: 2;
}
footer{
    min-height: 300px;
    background-color: rgb(0,67,156);
    color: white;
    padding: 50px 0;
}
p, p.h5{
    margin: 20px 0;
}
section{
    margin-bottom: 3rem;
}
/* Utility */
.select{
    border-bottom: 2px solid rgb(0,114,206);
}
.bg-orange{
    background-color: rgb(205,61,15);
    color: white;
}

/** header */
.sony{
    background-color: black;
    text-align: right;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
}
.sony img{
    width: 100px;
}

/* jumbotron */
.jumbotron{
    color: white;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
   
    position: relative;
}
.jumbotron::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.jumbotron .row >*{
    z-index: 1;
}
.jumbotron h2{
    margin: 30px 0;
}
#jumbotron-top{
    background-image: url(img/jumbo-bg.png);
    padding-top: 200px;
}
#jumbotron-bottom{
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    padding: 50px 0;
}

/* main */

.related img {
    border-radius: 20px;
    padding: 3px;
}
#related-top .col:first-child img{
    border: 2px solid rgb(0,114,206);
}
#related-bottom{
    background-color: rgb(31,31,31);
    color: white;
    
    padding: 20px 0;
}
/* ps4 */
#ps4 .row > .col{
    margin-bottom: 1rem;
}
/* ps+ */
#ps-plus{
    background-color: rgb(190,188,187);
}
.publicity .col:first-child{
    padding: 1.5rem 0;
}
/* ps-now */
#ps-now{
    background-color: rgb(22,28,59);
    color: white;
}

/* FOOTER */
.footer-top img{
    width: 100px;
    margin: 30px 0;
}
/*** Hover ***/
/* btn hover */
.bg-orange:hover{
    background-color: rgba(205,61,15,0.7);
    color: white;
}
.my-btn:hover {
    box-shadow: inset 0 0 0 2px;
}


/**** RESPONSIVE ****/
@media screen and (min-width:768px){
    #ps5 .col> img{
    max-width: 50%;
    margin: 0 auto;
    display: block;
   } 
}